*{
    margin:0;
    padding:0;
}
html, body{
    height:100%;
}

body{
    background-color:darkgray;
    background-image:url(vicroyale.jpg);
    background-position:center;
    background-size:auto;
    background-blend-mode: soft-light;
}

.heading4{
    width: 800px;
    height: 500px;
    margin:auto;
    margin-top:
    position:absolute;
    text-align: center;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
}
.title5{
    display:block;
    text-align: center;
    color: black;
    font-size: 100px;
    font-family:Impact;
}
.P3{
    font-size:24.5px;
    font-family: Impact;
    color: blue
}

.home{
    margin:50px auto;
    display: block;
    width: 180px;
    height: 50px;
    border: 3px solid white;
    background-color: rgba(255,255,255,0);
    color: pink;
    font font-weight: bold;
    border-radius: 100px;
    font-size: 15pt;
    font-family: impact;
transition: background-color 1000ms
}
.home:hover{
     background: black;
    cursor:pointer;
}